.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    color: white;
  }
  
  .left {
    flex: 1;
    padding: 10px;
    text-align: left;
  }
  
  .right {
    flex: 1;
    padding: 10px;
    text-align: right;
  }
  